whatsapp_order_managment.json
{
  "name": "whatsapp_order_managment",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}\n{{ $json.text }}\n\n",
        "options": {
          "systemMessage": "=You are Zapnix AI Agent(feel and answer like human.show some emotions etc.) — a warm, intelligent assistant that helps customers on WhatsApp or Instagram with product orders and support for men's clothing.\n\n🧠 Your Role:\n- Understand the customer’s intent from their message\n- Follow the correct conversational flow\n- Ask **only one question at a time**\n- Use external tools like Supabase, Google Sheets, and Google Docs (via n8n or functions)\n- Maintain memory of previous answers during a session\n- Respond in a warm, emoji-rich, and helpful tone like a human 😊\n\n---\n\n🎯 Handle customer intents as follows:\n\n1. 🛍️ **Placing an Order:**\n   Step-by-step:\n   1. Ask: “Which product would you like to order?”\n      → Once answered, fetch `Product ID` and `Price` from Supabase `Zapnix_Product_Catalog`\n   2. Ask: “What size would you like for the product?”\n   3. Ask: “How many units do you want to order?”\n   4. Ask: “Please share your full name 😊”\n   5. Ask: “Can you provide your full delivery address?”\n   6. Ask: “Your mobile number please 📞”(take input as 10 digit number only)\n   7. Ask: “And your area pincode?”(take input as 6 digit number only)\n   8. Calculate: **Total Price = Price × Quantity**\n   9. Respond:  \n      “Your total is ₹{total}. Please pay via UPI to `9601753896` 🧾 and share the transaction ID 🆔”\n-**transaction id should be 12 digit only.\n   10. When payment is received, generate Order ID as: `ZPX-{{ $json.messages[0].timestamp }}`\n   11. Save all details to google sheet`insert_order_details` with these fields:\n       - order_id, product_name, product_id, size, quantity, full_name, address, mobile_number, pincode, total_price, transaction_id\n   12. Respond with order summary:  \n       “🎉 Order Confirmed! Here’s your summary:\n including order id,product name,size,quantity,total price,name,address,moblie,pincode,transaction id…”\n\n2. 🔍 **Order Status Inquiry:**\n   - Ask: “Please share your Order ID or Mobile Number 📦”\n   - Check Google Sheet `Zapnix_Order_Status`\n   - Respond with the latest status\n\n3. ❓ **Product Inquiry:**\n   - Ask: “Which product do you want info about?”\n   - Fetch from Supabase `Zapnix_Product_Catalog`\n   - Respond with product name, available sizes, price, fabric, etc.\n\n4. 🔁 ** Modify or changes in Order:**\n   - Ask: “Please share the Order ID you want to change ”\n   -  modify in Google Sheet `Zapnix_Order_modify` node.\n   - Confirm: “✅ Got it! We’ll handle the change and keep you posted.”\n\n5. 🏢 **Company Info Requests:**\n   - Fetch from Google Doc `Zapnix_Company_Info`\n   - Respond with relevant info (address, delivery days, return policy, etc.)\n\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        672,
        224
      ],
      "id": "8dc74e31-d2ec-4711-8518-834d66718a65",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        -16
      ],
      "id": "453b5a22-5e0e-4e1a-8fa9-99ff64fc9c14",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7cpsjCRsSVmJZEHg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "failed"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        208
      ],
      "id": "6d1a5838-ffb0-49b1-95c2-ae98c43cf65b",
      "name": "WhatsApp Trigger",
      "webhookId": "dff0818a-1330-4741-931c-b7e61be174fc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "wCD5ayygTyCAZrG0",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1G_5_zOvjMPQaC1svASqxxkZ5YI-pG7hRFQNYgIOsxX8/edit?tab=t.0",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        192,
        464
      ],
      "id": "bd9641d9-0739-4177-95ac-a279fc731992",
      "name": "Zapnix_Company_Info",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "s1MFAkOBxjglmUqg",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product_details",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        960,
        464
      ],
      "id": "3abec97e-17c3-4107-98f8-82763f523ff6",
      "name": "Zapnix_Product_Catalog",
      "credentials": {
        "supabaseApi": {
          "id": "TpUGoHMIhullgZnJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        -48
      ],
      "id": "8e975764-2476-430f-bdcd-6774d0d103b3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fqtWSyd6OFw-aZsH_xuieqK8rGjWlqWoXfLSy5pMloU",
          "mode": "list",
          "cachedResultName": "Order detail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fqtWSyd6OFw-aZsH_xuieqK8rGjWlqWoXfLSy5pMloU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fqtWSyd6OFw-aZsH_xuieqK8rGjWlqWoXfLSy5pMloU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "order_id",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            },
            {
              "lookupColumn": "mobile",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values1_Value', ``, 'string') }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        592,
        464
      ],
      "id": "aa6be58f-0d0f-40eb-ada1-6d1e8fbee545",
      "name": "Zapnix_Order_Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gVn2psDMVfYEPlDo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fqtWSyd6OFw-aZsH_xuieqK8rGjWlqWoXfLSy5pMloU",
          "mode": "list",
          "cachedResultName": "Order detail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fqtWSyd6OFw-aZsH_xuieqK8rGjWlqWoXfLSy5pMloU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fqtWSyd6OFw-aZsH_xuieqK8rGjWlqWoXfLSy5pMloU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_id', ``, 'string') }}",
            "product_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_name', ``, 'string') }}",
            "product_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_id', ``, 'string') }}",
            "size": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('size', ``, 'string') }}",
            "quantity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('quantity', ``, 'string') }}",
            "total_amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('total_amount', ``, 'string') }}",
            "full_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('full_name', ``, 'string') }}",
            "mobile": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mobile', ``, 'string') }}",
            "address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('address', ``, 'string') }}",
            "pincode": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pincode', ``, 'string') }}",
            "transaction_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('transaction_id', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "size",
              "displayName": "size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pincode",
              "displayName": "pincode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_status",
              "displayName": "order_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        400,
        464
      ],
      "id": "9cad4a9f-9892-4462-b84b-498eb759b309",
      "name": "insert_order_details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gVn2psDMVfYEPlDo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fqtWSyd6OFw-aZsH_xuieqK8rGjWlqWoXfLSy5pMloU",
          "mode": "list",
          "cachedResultName": "Order detail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fqtWSyd6OFw-aZsH_xuieqK8rGjWlqWoXfLSy5pMloU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fqtWSyd6OFw-aZsH_xuieqK8rGjWlqWoXfLSy5pMloU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_id__using_to_match_', ``, 'string') }}",
            "product_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_name', ``, 'string') }}",
            "product_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_id', ``, 'string') }}",
            "size": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('size', ``, 'string') }}",
            "quantity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('quantity', ``, 'string') }}",
            "total_amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('total_amount', ``, 'string') }}",
            "full_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('full_name', ``, 'string') }}",
            "mobile": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mobile', ``, 'string') }}",
            "address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('address', ``, 'string') }}",
            "pincode": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pincode', ``, 'string') }}",
            "transaction_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('transaction_id', ``, 'string') }}",
            "order_status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_status', ``, 'string') }}"
          },
          "matchingColumns": [
            "order_id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "size",
              "displayName": "size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pincode",
              "displayName": "pincode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_status",
              "displayName": "order_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        768,
        464
      ],
      "id": "db16c8e5-af42-40ac-a2c6-b0115efa249f",
      "name": "Zapnix_Order_modify",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gVn2psDMVfYEPlDo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b96d8792-409b-40f3-996c-07914265d8b4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3dc268a-4f5f-4405-9d33-c24a35099c52",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -112,
        208
      ],
      "id": "0ffdb292-eb0f-4528-b5a0-9ff7bbe19b3f",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v17.0/{{ $json.messages[0].audio.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -16
      ],
      "id": "e3b08592-e6f8-460f-8b76-50e16d75605a",
      "name": "Get url",
      "credentials": {
        "whatsAppApi": {
          "id": "52xzBu2siT86AEOD",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -16
      ],
      "id": "2d7b1713-0cf5-49c2-acdb-6f7c8439fa47",
      "name": "Download File",
      "credentials": {
        "whatsAppApi": {
          "id": "52xzBu2siT86AEOD",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "650469054827029",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1536,
        16
      ],
      "id": "6da0e7db-03ee-48f0-b301-076827c69f84",
      "name": "Send message",
      "webhookId": "9089c585-9344-4a61-b6aa-8558993c3125",
      "credentials": {
        "whatsAppApi": {
          "id": "52xzBu2siT86AEOD",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        432,
        -16
      ],
      "id": "ef5f1a2e-3ea7-4618-ba10-f4026365102b",
      "name": "Speech to Text",
      "credentials": {
        "openAiApi": {
          "id": "7cpsjCRsSVmJZEHg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {
          "response_format": "aac"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        16
      ],
      "id": "e9834b3b-131c-4a4c-9216-27cae3ecf849",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "7cpsjCRsSVmJZEHg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b96d8792-409b-40f3-996c-07914265d8b4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3dc268a-4f5f-4405-9d33-c24a35099c52",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        992,
        224
      ],
      "id": "a2bf9b70-73a1-44ee-8c25-c23683cdbb85",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "650469054827029",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1232,
        336
      ],
      "id": "c69ea04f-d35d-460e-93f7-c11939780080",
      "name": "Send message1",
      "webhookId": "86b42c90-1717-4ea5-a1a7-84fa5d80b580",
      "credentials": {
        "whatsAppApi": {
          "id": "52xzBu2siT86AEOD",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zapnix_Company_Info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Zapnix_Product_Catalog": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Zapnix_Order_Status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "insert_order_details": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Zapnix_Order_modify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get url": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Speech to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speech to Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}